<html>
    <body>
        <form method="POST" >
            Enter id : <input type="number" name="id"/>
            Enter playername  : <input type="text" name="name" />
            Enter skills: <input type="text" name="skills"/>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>