<html>
    <body>
        <form method="post">
            Enter id : <input type="number" name="id"/>
            Enter playername  : <input type="text" name="name" />
            Enter skills: <input type="text" name="skills"/>
           <input type="submit">
        </form>
    </body>
</html>