<html>

<body>
    <div>
        <center>
            <form method="get" asp-action="AddNew">
               Enter id: <input type="number" name="pid" ><br><br>
               Enter name: <input type="text" name="pname" ><br><br>
               Enter skill: <input type="text" name="pskill" ><br><br>
                <input type="submit" >
            </form>
        </center>
    </div>
</body>

</html>